---
interface Props {
  title: string;
  accentColor: string;
}

const { title, accentColor } = Astro.props;
---

<div>
  <h2 class="text-3xl sm:text-4xl md:text-5xl xl:text-7xl font-bold text-gray-900">
    {title}
  </h2>
  <div
    class="w-[75px] h-[5px] mt-2 rounded-full"
    style={`background-color: ${accentColor}`}
  />
</div>
