---
import { tokenVars } from '../../design';

interface Props {
  title: string;
  accentColor?: string;
}

const { title, accentColor = tokenVars.colors.accent.base } = Astro.props;
---

<div>
  <h2 class="text-3xl sm:text-4xl md:text-5xl xl:text-7xl font-bold text-text-primary">
    {title}
  </h2>
  <div
    class="w-[75px] h-[5px] mt-2 rounded-full"
    style={`background-color: ${accentColor}`}
  />
</div>
